# Byte-compiled files
__pycache__/
*__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
*.env
.env
app/commons/const/const/.env

# Database
*.sqlite3
*.db
instance/

# Migrations (si générées, à adapter selon la politique du projet)
migrations

# Logs
*.log

# Pytest / coverage
.pytest_cache/
htmlcov/
.tox/
.coverage
